/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body, html {
    background: #fff;
    overflow: hidden;
    height: 100%
}

.chatbot-toggler {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 35px;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0,0,0,0.5);
    transition: all 0.2s ease;
}

body.show-chatbot .chatbot-toggler {
    transform: rotate(90deg);
}

.chatbot-toggler span {
    color: #fff;
    position: absolute;
}

    .chatbot-toggler span:last-child,
    body.show-chatbot .chatbot-toggler span:first-child {
        opacity: 0;
    }

body.show-chatbot .chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot.main {
    background: #fff;
    border-radius: 0px;
    width: auto;
    margin: 50px 250px;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: auto;
    transform: none;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
}

.chatbot {
    right: 35px;
    bottom: 90px;
    width: 420px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5);
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1), 0 32px 64px -48px rgba(0,0,0,0.5);
    transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
    opacity: 1 !important;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot header {
    padding: 16px 0;
    position: relative;
    text-align: center;
    color: #fff;
    background: #724ae8;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

    .chatbot header span {
        position: absolute;
        right: 15px;
        top: 50%;
        display: none;
        cursor: pointer;
        transform: translateY(-50%);
    }

header h2 {
    font-size: 1.4rem;
}

.chatbot .chatbox {
    overflow-y: auto;
    height: 510px;
    padding: 30px 20px 100px;
    position: relative;
}

.chat.incoming img {
    height: 80px;
}

.chatbot.main .chatbox {
    height: 600px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
    width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.chatbox .chat {
    display: flex;
    list-style: none;
}

.chatbox .outgoing {
    margin: 20px 0;
    justify-content: flex-end;
}

.chatbox .incoming span {
    width: 32px;
    height: 32px;
    color: #111;
    cursor: default;
    text-align: center;
    line-height: 32px;
    align-self: flex-end;
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
    margin: 0 10px 7px 0;
}

.chatbox .chat p {
    white-space: pre-wrap;
    padding: 12px 16px;
    border-radius: 10px 10px 0 10px;
    max-width: 75%;
    color: #111;
    font-size: 0.95rem;
    background: #FFC906;
}

.chatbox .incoming p {
    border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
    color: #721c24;
    background: #f8d7da;
}

.chatbox .incoming p {
    color: #111;
    background: #f2f2f2;
}

.chatbot .chat-input {
    display: flex;
    gap: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 3px 20px;
    border-top: 1px solid #ddd;
}

.chatbot.main .chat-input {
    position: inherit;
}

.chat-input textarea {
    min-height: 75px !important;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    max-height: 180px;
    padding: 15px 15px 15px 0;
    font-size: 0.95rem;
}

.chat-input span {
    align-self: flex-end;
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    height: 55px;
    display: flex;
    align-items: center;
    visibility: hidden;
    font-size: 1.35rem;
}

.chat-input textarea:valid ~ span {
    visibility: visible;
}

@media (max-width: 490px) {
    .chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot {
        right: 0;
        bottom: 0;
        height: 100%;
        border-radius: 0;
        width: 100%;
    }

        .chatbot .chatbox {
            height: 90%;
            padding: 25px 15px 100px;
        }

        .chatbot .chat-input {
            padding: 5px 15px;
        }

        .chatbot header span {
            display: block;
        }
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.overlay {
    position: absolute;
    margin: 0px !important;
    width: 30% !important;
}
.loading {
    width: 175px;
    height: 30px;
    object-fit: none;
    object-position: 50%;
    transform: scale(0.2);
    margin: -25px -50px;
}
.suggestion {
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.suggestion .chat.outgoing {
    margin: 10px 0;
    cursor: pointer;
}
.suggestion .chat.outgoing p {
    border: 2px solid #FFC906;
    background: #fff;
    padding: 5px 10px;
    font-size: 0.85rem;
}





.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.w-full {
    width: 100%;
}

.h-screen {
    height: 100vh;
}

.flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.font-bold {
    font-weight: 700;
}

.text-4xl {
    font-size: 3.25rem;
    line-height: 5.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-lg {
    font-size: 1.45rem;
    line-height: 3.75rem;
}

.mb-8 {
    margin-bottom: 2rem;
}
.transition-colors {
    transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.ring-offset-background {
    --tw-ring-offset-color: hsl(var(--background));
}

.font-medium {
    font-weight: 500;
}

.text-lg {
    font-size: 1.45rem;
    line-height: 3.75rem;
}

button {
    cursor: pointer;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.bg-\[\#FFC906\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 201 6 / var(--tw-bg-opacity));
}

.border-input {
    border-color: hsl(var(--input));
}

.border {
    border-width: 1px;
}

.rounded-md {
    border-radius: 0.375rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.h-10 {
    height: 3.5rem;
}

.inline-flex {
    display: inline-flex;
}




.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 40px auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}